.contact-form {
  /* height: 500px; */
  width: 50vw;
  background-color: red;
  border: 2px solid blue;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

/* .card {
  padding: 20px;
  border-radius: 15%;
  margin: 5px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 8px rgba(40, 233, 114, 0.466);
} */
