.projects {
  margin: 35px;
  display: inline-flex;
  flex-wrap: wrap;
  height: 800px;
  width: 800px;
}

.card-title {
  margin: 10px;
}

.btn {
  margin: 10px;
}

.card-image {
  height: 400px;
  width: 400px;
  border-radius: 15%;
}

.card-links {
  display: inline-flex;
}

.btn {
  font-size: 30px;
  padding: 4px;
  border-radius: 5px;
  color: white;
  background-color: rgb(81, 32, 255);
  text-shadow: 3px 3px 8px rgb(32, 120, 252);
  box-shadow: 3px 3px 10px rgb(62, 162, 255);
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}
