.nav {
  position: absolute;
  right: 0;
  margin-top: 15px;
}

.nav-bar {
  display: flex;
  justify-content: right;
  align-items: center;
}

.nav-item {
  display: flex;
  font-weight: bold;
  font-size: 30px;
  margin-right: 30px;
  transition: all 0.2s ease-in-out;
}

.nav-item:hover {
  transform: scale(1.3);
}
