* {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.main {
  background-color: rgb(17, 229, 236);
  background-image: linear-gradient(
    to right,
    rgb(92, 34, 126),
    rgb(17, 229, 236)
  );
  color: white;
}

.portfolio-content {
  flex-wrap: wrap;
  text-align: center;
}

h2 {
  font-size: 40px;
  text-shadow: 3px 3px 8px rgb(233, 40, 223);
  text-align: left;
  width: 400px;
  border-bottom: 2px solid white;
  margin-bottom: 15px;
}

h3 {
  font-size: 30px;
  text-shadow: 3px 3px 8px rgb(233, 40, 223);
}

p {
  font-size: 25px;
  margin-top: 10px;
}

span {
  font-size: 28px;
  font-weight: bolder;
  text-shadow: 3px 3px 8px rgb(233, 40, 223);
}

.section {
  margin: 10px;
  height: 100%;
}

.card {
  padding: 20px;
  border-radius: 15%;
  margin: 5px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 8px rgba(40, 233, 114, 0.466);
}

.card-content {
  padding: 150px;
}

a {
  color: white;
  text-shadow: 2px 5px 8px rgb(233, 40, 88);
}
