* {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main {
  background-color: rgb(17, 229, 236);
  background-image: linear-gradient(
    to right,
    rgb(92, 34, 126),
    rgb(17, 229, 236)
  );
  color: white;
  padding: 15px;
}

.portfolio-content {
  flex-wrap: wrap;
  text-align: center;
}

h2 {
  font-size: 40px;
  text-shadow: 3px 3px 8px rgb(233, 40, 223);
  text-align: left;
  width: 400px;
  border-bottom: 2px solid white;
  margin-bottom: 15px;
}

h3 {
  font-size: 30px;
  text-shadow: 3px 3px 8px rgb(233, 40, 223);
}

p {
  font-size: 25px;
  margin-top: 10px;
}

span {
  font-size: 28px;
  font-weight: bolder;
  text-shadow: 3px 3px 8px rgb(233, 40, 223);
}

.section {
  margin: 10px;
  height: 100%;
}

.card {
  padding: 20px;
  border-radius: 15%;
  margin: 5px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 8px rgba(40, 233, 114, 0.466);
}

.card-content {
  padding: 150px;
}

a {
  color: white;
  text-shadow: 2px 5px 8px rgb(233, 40, 88);
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
    width: 200px;
  }

  .main {
    flex-direction: column;
  }
  .nav {
    position: relative;
    height: 100px;
    align-items: flex-end;
    margin-bottom: 15px;
  }
  .nav-bar {
    display: flex;
    flex: auto;
    justify-content: space-around;
  }

  .portfolio-container {
    margin-top: 35px;
    display: flex;
  }
}

@media screen and (max-width: 660px) {
  .portfolio-container {
    margin-top: 100px;
    display: flex;
  }
  p {
    font-size: 20px;
    margin-top: 10px;
  }

  span {
    font-size: 23px;
  }

  .nav-item {
    font-size: 15px;
  }

  .profile-pic {
    float: none;
  }

  .projects {
    margin: 10px auto;
    display: inline-flex;
    flex-wrap: wrap;
    height: 700px;
    width: 100%;
  }

  .card {
    padding: 5px;
    border-radius: 10%;
    margin: 15px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .card-content {
    padding: 15px;
  }

  .project-content {
    padding: 10px;
  }

  .card-image {
    height: 280px;
    width: 280px;
    border-radius: 15%;
  }

  .text-box {
    width: 300px;
  }

  textarea {
    width: 300px;
  }

  .btn {
    font-size: 15px;
  }
}
